{% extends 'adminmaster.html' %}
{% block title %}
ADDADMIN DASHBOARD
{% endblock %}
{% block content %}
{% load static %}
<!-- partial -->
      <div class="main-panel">        
        <div class="content-wrapper">
          <div class="row">
           <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <!-- <h4 class="card-title">Basic form elements</h4>
                  <p class="card-description">
                    Basic form elements
                  </p> -->
                  <form class="forms-sample" onsubmit="return check()" method="POST" action="/addcategory/">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="name">CATEGORY NAME</label>
                      <input type="text" class="form-control" id="category" placeholder="Category Name" required title="please enter the category" name="category">
                    </div>
                    <button type="register" class="btn btn-primary me-2" >SUBMIT</button>
                  </form>
                </div>
              </div>
           </div>
           <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Category Table</h4>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>
                            Category Name
                          </th>
                          <th>
                            Edit
                          </th>
                          <th>
                            Delete
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        {% if messages %}
                        {% for message in messages %}
                        <script>  alert('{{ message }}');</script> 
                        {% endfor %}
                        {% endif %}
                        {% for i in sms %}
                        <tr>
                          <td>
                            {{i.categoryname}}
                          </td>
                          <td><a href="/editcategory/{{i.id}}"><img src="{% static 'logo/edit.jpg' %}" width="50px" height="50px"></a></td>
                          <td><a href="/deletecategory/{{i.id}}"><img src="{% static 'logo/delete.jpg' %}" width="50px" height="50px"></a></td>
                        </tr>
                       {% endfor %}

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
            <div class="card">
                <div class="card-body">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2024 <a href="https://www.bootstrapdash.com/" class="text-muted" target="_blank">Bootstrapdash</a>. All rights reserved.</span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center text-muted">Hand-crafted & made with <i class="typcn typcn-heart-full-outline text-danger"></i></span>
                    </div>
                </div>    
            </div>        
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
       {% endblock %}