{% extends 'adminmaster.html' %}
{% block title %}
ADDADMIN DASHBOARD
{% endblock %}
{% block content %}
{% load static %}
<!-- partial -->
      <div class="main-panel">        
        <div class="content-wrapper">
          <div class="row">
           <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Basic form elements</h4>
                  <p class="card-description">
                    Basic form elements
                  </p>
                  <form class="forms-sample" onsubmit="return check()" method="POST" action="/editsubcategory/{{sms.id}}">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="name">CATEGORY NAME</label>
                      <input type="text" class="form-control" id="category" placeholder="Category Name" required title="please enter the category" name="subcategory" value = "{{sms.subcategoryname}}">
                    </div>
                    <button type="register" class="btn btn-primary me-2" >SUBMIT</button>
                  </form>
                </div>
              </div>
           </div>
         
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
            <div class="card">
                <div class="card-body">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2024 <a href="https://www.bootstrapdash.com/" class="text-muted" target="_blank">Bootstrapdash</a>. All rights reserved.</span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center text-muted">Hand-crafted & made with <i class="typcn typcn-heart-full-outline text-danger"></i></span>
                    </div>
                </div>    
            </div>        
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
       {% endblock %}